/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:’’;
  content:none;
}
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/* Your Code Goes Here */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
} 

.container {
  max-width: 1025px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, Arial, sans-serif;
}

header {
  width: 100%;
  display: flex;
}

.dropdown h1 {
  font-size: 22px;
  position: absolute;
  margin-top: 15px;
  margin-left: 88px;
  color: white;
}

.dropbtn {
  background-color: #777777;
  color: white;
  width: 1025px;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-align: right;
  padding-right: 50px;
}

.hamburgerClose {
  cursor: pointer;
}


.dropdown {
  position: fixed;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #777777;
  width: 1025px;
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: white;
  font-size: 25px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  justify-content: center;
}

.dropdown-content a:hover {background-color: #222222}

.show {display:block;}


#mhp1 {      
  display: block;
} 
#mhp2 {      
  display: none;
} 

#homeimage1a {      
  display: block;
} 
#homeimage1b {      
  display: none;
} 

#villaimg1 {      
  display: block;
} 
#villaimg2 {      
  display: none;
} 

#outskirtimg1 {      
  display: block;
} 

#outskirtimg2 {      
  display: none;
} 

#blocksimg1 {      
  display: block;
} 

#blocksimg2 {      
  display: none;
} 

.intro h2{
  position: absolute;
  margin-top: 330px;
  margin-left: 77px;
  color: white;
  font-size: 65px;
  font-weight: bold;
  line-height: 1.1;
}

.intro .main-header-pic {
  display: block;
  width: 100%;
  margin: auto;
  height: 600px;
}

.architect {
  display: flex;
  margin-top: 30px;
  align-items: center;
  padding: 20px 80px 15px 70px;
}

.architect h3 {
  font-weight: bold;
}

.architect .architect-text, h3 {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.architect .architect-text p {
  font-size: 16px;
  text-align: justify;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
  margin: 0 9.32% 0 0;
  font-weight: none;
}

.architect .architect-text button {
  border: 1px solid black;
  font-size: 16px;
  background: white;
  width: 136px;  
  height: 48px;
  margin-top: 10px;
  margin-left: 12px;
  cursor: pointer;
}

.architect .architect-text button:hover {
  background: black;
  color: white;
}

.designs {
  display: flex;
  margin-top: 65px;
  align-items: center;
  padding: 20px 70px 15px 80px;
}

.designs h3 {
  font-weight: bold;
}

.designs .designs-text, h3 {
  font-size: 22px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.designs .designs-text p {
  font-size: 16px;
  text-align: justify;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
}

.designs .designs-text button {
  border: 1px solid black;
  font-size: 16px;
  background: white;
  width: 136px;  
  height: 48px;
  margin-top: 20px;
  cursor: pointer;
}

.designs .designs-text button:hover {
  background: black;
  color: white;
}

.projects {
  margin-top: 82px;
}

.projects h3 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 79px;
}

.villas .main-header-pic {
  margin-top: 45px;
  margin-left: 80px;
}

.projects .villas h2 {
  position: absolute;
  font-size: 26px;
  letter-spacing: 6px;
  text-align: center;
  margin-left: 621px;
  margin-top: 180px;
  border: 1px white solid;
  height: 95px;
  width: 315px;
  padding-top: 31px;
  background-color: #D8D8D8;
}

.projects p {
  font-size: 17px;
  text-align: left;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
  margin: 90px 27% 0 27%;
}

.outskirts .main-header-pic {
  margin-top: 81px;
  margin-left: 80px;
}

.projects .outskirts h2 {
  position: absolute;
  font-size: 26px;
  letter-spacing: 6px;
  text-align: center;
  margin-left: 80px;
  margin-top: 180px;
  border: 1px white solid;
  height: 95px;
  width: 315px;
  padding-top: 31px;
  background-color: #D8D8D8;
}

.blocks .main-header-pic {
  margin-top: 70px;
  margin-left: 80px;
}

.projects .blocks h2 {
  position: absolute;
  font-size: 26px;
  letter-spacing: 6px;
  text-align: center;
  margin-left: 621px;
  margin-top: 175px;
  border: 1px white solid;
  height: 95px;
  width: 315px;
  padding-top: 31px;
  background-color: #D8D8D8;
}

.contact {
  Background: #828282;
  display: flex;
  align-content: row;
  color: white;
  margin-top: 82px;
  height: 200px;
  padding-top: 64px;
  padding-left: 82px;
}

.contact input {
  margin-top: 20px;
  height: 44px;
  width: 280px;
  font-size: 16px;
  padding-left: 5px;
}

.contact .interest p {
  margin-top: 5px;
  font-size: 13px;
}

.contact h4 {
  font-size: 20px;
  font-weight: bold;
}

.contact p {
  font-size: 16px;
}

.ny {
  margin-left: 57px;
  line-height: 1.5;
}

.fl {
  margin-left: 58px;
  line-height: 1.5;
}

.ca {
  margin-left: 72px;
  line-height: 1.5;
}

footer {
  Background: #828282;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: white;
  height: 50px;
  padding-top: 21px;
}


@media (max-width: 500px) {

  .container {
    width: 100%;
  }

  .dropdown h1 {
    margin-left: 20px;
  }

  .dropbtn {
    width: 500px;
    height: 75px;
  }

  .dropdown-content {
    width: 500px;
  }
  
  #mhp1 {      
    display: none;
  } 
  #mhp2 {      
    display: block;
  } 

  #homeimage1a {      
    display: none;
  } 
  #homeimage1b {      
    display: block;
  } 

  #villaimg1 {      
    display: none;
  } 
  #villaimg2 {      
    display: block;
  } 

  #outskirtimg1 {      
    display: none;
  } 
  #outskirtimg2 {      
    display: block;
  } 

  #blocksimg1 {      
    display: none;
  } 
  #blocksimg2 {      
    display: block;
  } 




  .intro h2 {
    margin-top: 100px;
    margin-left: 20px;
    font-size: 55px;
  }

  .intro .main-header-pic {
    height: 315px;
  }

  .architect {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }

  .architect .main-header-pic {
    width: 440px;
    height: 420px;
  }

  .architect-text {
    margin-top: 43px;
    width: 440px;
  }

  .architect h3 {
    font-size: 36px;
    text-align: center;
    margin: auto;
  }

  .architect .architect-text p {
    font-size: 22px;
    margin: 43px auto 0;
  }

  .architect .architect-text button {
    width: 440px;
    height: 70px;
    margin: 55px auto;
    font-size: 24px;
    border: 2px solid black;
  }

  .designs {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
  }

  .designs .main-header-pic {
    width: 440px;
    height: 420px;

  }

  .designs-text {
    margin-top: 43px;
    width: 440px;
  }

  .designs h3 {
    font-size: 36px;
    text-align: center;
    margin: auto;
  }

  .designs .designs-text p {
    font-size: 22px;
    margin: 43px auto 0;
  }

  .designs .designs-text button {
    width: 440px;
    height: 70px;
    margin: 55px auto;
    font-size: 24px;
    border: 2px solid black;
  }

  .projects {
    margin-top: 0;

  }

  .projects h3 {
    font-size: 36px;
  }
  
  .villas {
    display: flex;
    flex-direction: column;
  }

  .villas .main-header-pic {
    margin: 20px auto;
    width: 100%;
    height: 300px;
  }

  .projects .villas h2 {
    margin: 300px 20px 0 20px;
    width: 440px;
    height: 150px;
    font-size: 40px;
    padding-top: 55px;
  }

  .projects .villas p {
    margin: 160px auto 0;
    font-size: 24px;
    width: 440px;
  }

  .outskirts {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }

  .outskirts .main-header-pic {
    margin: 20px auto;
    width: 100%;
    height: 300px;
  }

  .projects .outskirts h2 {
    margin: 300px 20px 0 20px;
    width: 440px;
    height: 150px;
    font-size: 40px;
    padding-top: 55px;
  }

  .projects .outskirts p {
    margin: 160px auto 0;
    font-size: 24px;
    width: 440px;
  }

  .blocks {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }

  .blocks .main-header-pic {
    margin: 20px auto;
    width: 100%;
    height: 300px;
  }

  .projects .blocks h2 {
    margin: 300px 20px 0 20px;
    width: 440px;
    height: 150px;
    font-size: 40px;
    padding-top: 55px;
  }

  .projects .blocks p {
    margin: 160px auto 0;
    font-size: 24px;
    width: 440px;
  }

  .contact {
    height: 1000px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
  }

  .contact h4{
    font-size: 28px;
  }

  .contact input {
    margin-top: 30px;
    width: 440px;
    height: 70px;
    font-size: 24px;
    color: gray;
  }

  .contact .interest p {
    margin-top: 15px;
    font-size: 18px;
  }

  .ny {
    margin-top: 30px;
    margin-left: 0;
    line-height: 2;
  }

  .ny p {
    font-size: 20px;
  }

  .fl {
    margin-top: 30px;
    margin-left: 0;
    line-height: 2;
  }

  .fl p {
    font-size: 20px;
  }

  .ca {
    margin-top: 30px;
    margin-left: 0;
    line-height: 2;
  }

  .ca p {
    font-size: 20px;
  }

  footer {
    font-size: 18px;
    height: 70px;
    justify-content: left;
    padding-left: 20px;
  }

}




// SERVICES CSS


.intro-service .services-header-pic {
  display: block;
  width: 100%;
  margin: auto;
  height: 250px;
}

.intro-service h2{
  position: absolute;
  margin-top: 160px;
  margin-left: 79px;
  color: white;
  font-size: 65px;
  font-weight: bold;
  line-height: 1.1;
}

.top-section {
  margin: 54px 84px 0;
  font-size: 16px;
  line-height: 1.8;
}


//TABS

.tabs {
  width: 100%;
  margin-top: 33px;
  .tabs-items {
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: center;
    padding-top: 52px;

  }
  .tabs-item {
    display: none; 
    width: 100%;
    margin: 0 84px;
    .tabs-item-title {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 10px;
    }
  }
  .tabs-item-selected {
    display: flex;
    height: 400px;
    flex-direction: column;
 
  }

  .tabs-item-img-combo {
    display: flex;
    flex-direction: row;
  }

  .tab-pic {
    padding-left: 20px;
  }

  .tabs-item-description {
    margin-top: 6px;
    font-size: 16px;
    line-height: 1.6;
  }

  .tabs-links {
    display: flex;
    justify-content: center;
  }

  .tabs-link {
    display: flex;
    justify-content: center;
    margin: 0 18px;
    padding: 14px 0;
    width: 188px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
    &:hover {
      background-color: #222222;
      color: #FFF;
    }
  }
  .tabs-link-selected {
    z-index: 2;
    // border-right: 2px solid yellow;
    background-color: #5E9FB9;
    color: black;
    &:hover {
      background-color: white;
    }
  }
}
